In [7]:
import pandas as pd

In [8]:
tab8tsv = pd.read_csv('table8mbert.tsv', delimiter='\t')
tab8tsv

,Language,Zero-Shot Performance (Mean),Zero-Shot Performance (Stdev),Translate-Test (Mean),Translate-Test (Stdev),Cross-Lingual Gap,Concept Shift Gap
0,en_dev,69.812614,1.005138,69.812614,1.005138,0.000000,0.000000
1,hi,50.900000,0.959166,58.316633,2.606495,7.416633,11.495981
2,id,57.039474,0.673309,62.149123,1.306007,5.109649,7.663491
3,jv,53.833333,1.496910,59.833333,0.707107,6.000000,9.979281
4,kn,51.606845,0.618579,56.197830,0.775216,4.590985,13.614785
5,su,52.041667,1.314978,58.166667,2.937623,6.125000,11.645948
6,sw,51.798725,2.109023,62.306642,1.016980,10.507917,7.505972

In [33]:
acc = {}
tab8tsv = pd.read_csv('table8mbert.tsv', delimiter='\t')
for r in tab8tsv.to_dict(orient="records"):
    acc[('mBERTbase', r['Language'])] = {
        'Zero-shot Performance': f"{r['Zero-Shot Performance (Mean)']:#.4} $\pm$ {r['Zero-Shot Performance (Stdev)']:#.4}",
        'Translate-Test': f"{r['Translate-Test (Mean)']:#.4} $\pm$ {r['Translate-Test (Stdev)']:#.4}",
        'Cross-Lingual Transfer Gap': f"{r['Cross-Lingual Gap']:#.4}",
        'Concept Shift Gap': f"{r['Concept Shift Gap']:#.4}",
    }
tab8tsv = pd.read_csv('table8xlmr.tsv', delimiter='\t')
for r in tab8tsv.to_dict(orient="records"):
    acc[('XLM-Rbase', r['Language'])] = {
        'Zero-shot Performance': f"{r['Zero-Shot Performance (Mean)']:#.4} $\pm$ {r['Zero-Shot Performance (Stdev)']:#.4}",
        'Translate-Test': f"{r['Translate-Test (Mean)']:#.4} $\pm$ {r['Translate-Test (Stdev)']:#.4}",
        'Cross-Lingual Transfer Gap': f"{r['Cross-Lingual Gap']:#.4}",
        'Concept Shift Gap': f"{r['Concept Shift Gap']:#.4}",
    }

df = pd.DataFrame.from_dict(acc, orient='index')
# df.index.set_names('Model', level=0, inplace=True)
# df.index.set_names('Language', level=1, inplace=True)
dfs = df.style
def index_formatter(s):
    replacer = {
        'en_dev': 'en$_{dev}$',
        'mBERTbase': 'mBERT\\textsubscript{base}',
        'XLM-Rbase': 'XLM-R\\textsubscript{base}'
    }
    if s in replacer:
        return replacer[s]
    return s
dfs.format_index(index_formatter)
dfs.format_index(lambda s: f"\\textbf{{{s}}}", axis=1)

In [25]:
dfs.to_latex(
    buf=f"/Users/chaosarium/Documents/Repos/11711-HW3-Paper/tables/table8.tex", 
    hrules=True,
    multirow_align='c',
    sparse_index=True,
    # clines=None,
    clines="skip-last;data",
    column_format='l L{0.13\linewidth} L{0.18\linewidth} L{0.16\linewidth} L{0.18\linewidth} L{0.18\linewidth}'
)

---

In [27]:
parsed = {
    ('mBERTlarge', 'hi', 2, 'mean'): 50.62751004,
    ('mBERTlarge', 'id', 2, 'mean'): 56.49207746,
    ('mBERTlarge', 'jv', 2, 'mean'): 54.78187919,
    ('mBERTlarge', 'kn', 2, 'mean'): 51.57035176,
    ('mBERTlarge', 'su', 2, 'mean'): 52.8942953,
    ('mBERTlarge', 'sw', 2, 'mean'): 52.97074954,

    ('mBERTlarge', 'hi', 4, 'mean'): 50.63004032,
    ('mBERTlarge', 'id', 4, 'mean'): 56.51501767,
    ('mBERTlarge', 'jv', 4, 'mean'): 54.6875,
    ('mBERTlarge', 'kn', 4, 'mean'): 51.59663866,
    ('mBERTlarge', 'su', 4, 'mean'): 52.91385135,
    ('mBERTlarge', 'sw', 4, 'mean'): 52.98165138,

    ('mBERTlarge', 'hi', 6, 'mean'): 50.65789474,
    ('mBERTlarge', 'id', 6, 'mean'): 56.47163121,
    ('mBERTlarge', 'jv', 6, 'mean'): 54.59183673,
    ('mBERTlarge', 'kn', 6, 'mean'): 51.62310287,
    ('mBERTlarge', 'su', 6, 'mean'): 52.80612245,
    ('mBERTlarge', 'sw', 6, 'mean'): 52.90055249,

    ('mBERTlarge', 'hi', 8, 'mean'): 50.71138211,
    ('mBERTlarge', 'id', 8, 'mean'): 56.58362989,
    ('mBERTlarge', 'jv', 8, 'mean'): 54.58047945,
    ('mBERTlarge', 'kn', 8, 'mean'): 51.6285956,
    ('mBERTlarge', 'su', 8, 'mean'): 52.73972603,
    ('mBERTlarge', 'sw', 8, 'mean'): 52.88817006,

    ('mBERTlarge', 'hi', 10, 'mean'): 50.66326531,
    ('mBERTlarge', 'id', 10, 'mean'): 56.58482143,
    ('mBERTlarge', 'jv', 10, 'mean'): 54.39655172,
    ('mBERTlarge', 'kn', 10, 'mean'): 51.63412564,
    ('mBERTlarge', 'su', 10, 'mean'): 52.84482759,
    ('mBERTlarge', 'sw', 10, 'mean'): 52.78293135,

    ('mBERTlarge', 'hi', 2, 'delta'): -0.05484714409,
    ('mBERTlarge', 'id', 2, 'delta'): -0.07104413763,
    ('mBERTlarge', 'jv', 2, 'delta'): -0.05551454139,
    ('mBERTlarge', 'kn', 2, 'delta'): -0.05608279293,
    ('mBERTlarge', 'su', 2, 'delta'): -0.09439038031,
    ('mBERTlarge', 'sw', 2, 'delta'): -0.09631616244,

    ('mBERTlarge', 'hi', 4, 'delta'): 0.007302407234,
    ('mBERTlarge', 'id', 4, 'delta'): 0.06515017668,
    ('mBERTlarge', 'jv', 4, 'delta'): 0.056875,
    ('mBERTlarge', 'kn', 4, 'delta'): 0.02765253013,
    ('mBERTlarge', 'su', 4, 'delta'): -0.03919481982,
    ('mBERTlarge', 'sw', 4, 'delta'): 0.03846073578,

    ('mBERTlarge', 'hi', 6, 'delta'): -0.05354129311,
    ('mBERTlarge', 'id', 6, 'delta'): -0.05633631952,
    ('mBERTlarge', 'jv', 6, 'delta'): -0.05241496599,
    ('mBERTlarge', 'kn', 6, 'delta'): -0.03802606649,
    ('mBERTlarge', 'su', 6, 'delta'): -0.03860544218,
    ('mBERTlarge', 'sw', 6, 'delta'): -0.08791895194,

    ('mBERTlarge', 'hi', 8, 'delta'): -0.1001006077,
    ('mBERTlarge', 'id', 8, 'delta'): -0.05872510458,
    ('mBERTlarge', 'jv', 8, 'delta'): -0.05752853881,
    ('mBERTlarge', 'kn', 8, 'delta'): -0.04131003732,
    ('mBERTlarge', 'su', 8, 'delta'): -0.02926940639,
    ('mBERTlarge', 'sw', 8, 'delta'): -0.08440310381,

    ('mBERTlarge', 'hi', 10, 'delta'): -0.09757576377,
    ('mBERTlarge', 'id', 10, 'delta'): -0.03853775063,
    ('mBERTlarge', 'jv', 10, 'delta'): -0.04436781609,
    ('mBERTlarge', 'kn', 10, 'delta'): -0.04793253328,
    ('mBERTlarge', 'su', 10, 'delta'): -0.05155172414,
    ('mBERTlarge', 'sw', 10, 'delta'): -0.1082034435,
}

In [28]:
data = {}
for lang in ['hi', 'id', 'jv', 'kn', 'su', 'sw']:
    data[('mBERTlarge', lang)] = {}
    for k in [2,4,6,8,10]:
        data[('mBERTlarge', lang)][(k, 'mean')] = parsed[('mBERTlarge', lang, k, 'mean')]
        data[('mBERTlarge', lang)][(k, 'delta')] = parsed[('mBERTlarge', lang, k, 'delta')]

In [31]:
df = pd.DataFrame.from_dict(data, orient='index')
dfs = df.style

dfs.format_index(lambda s: f"$k = {s}$", axis=1, level=0)
dfs.format_index(lambda s: s.replace("delta", "$\\Delta$").replace("mean", "Score"), axis=1, level=1)
dfs.format_index(lambda s: s.replace("mBERTlarge", 'mBERT\\textsubscript{base}'), axis=0, level=0)
dfs.format("{:.2f}")
dfs

In [32]:
dfs.to_latex(
    buf=f"/Users/chaosarium/Documents/Repos/11711-HW3-Paper/tables/table13.tex", 
    hrules=True,
    multirow_align='c',
    multicol_align='c',
    sparse_index=True,
    clines=None,
    # clines="skip-last;data",
)