In [1]:
import pandas as pd

In [50]:
tab8tsv = pd.read_csv('table8.tsv', delimiter='\t')
tab8tsv

,Language,Zero-Shot Performance (Mean),Zero-Shot Performance (Stdev),Translate-Test (Mean),Translate-Test (Stdev),Cross-Lingual Gap,Concept Shift Gap
0,en_dev,65.850091,8.903127,65.850091,8.903127,NaN,NaN
1,hi,50.740000,0.904434,56.633267,4.389075,5.893267,9.216825
2,id,55.491228,3.510745,59.719298,5.549728,4.228070,6.130793
3,jv,52.933333,2.393858,57.666667,4.883362,4.733333,8.183425
4,kn,51.385643,0.729131,54.724541,3.362086,3.338898,11.125551
5,su,51.466667,1.717556,57.900000,2.613002,6.433333,7.950091
6,sw,51.001821,2.551717,59.672429,5.955760,8.670608,6.177662

In [133]:
acc = {}
for r in tab8tsv.to_dict(orient="records"):
    acc[('mBERTlarge', r['Language'])] = {
        'Zero-shot Performance': f"{r['Zero-Shot Performance (Mean)']:#.4} $\pm$ {r['Zero-Shot Performance (Stdev)']:#.4}",
        'Translate-Test': f"{r['Translate-Test (Mean)']:#.4} $\pm$ {r['Translate-Test (Stdev)']:#.4}",
        'Cross-Lingual Transfer Gap': f"{r['Cross-Lingual Gap']:#.4}",
        'Concept Shift Gap': f"{r['Concept Shift Gap']:#.4}",
    }
    
df = pd.DataFrame.from_dict(acc, orient='index')
# df.index.set_names('Model', level=0, inplace=True)
# df.index.set_names('Language', level=1, inplace=True)
dfs = df.style
def index_formatter(s):
    replacer = {
        'en_dev': 'en$_{dev}$',
        'mBERTlarge': 'mBERT$_{large}$'
    }
    if s in replacer:
        return replacer[s]
    return s
dfs.format_index(index_formatter)
dfs.format_index(lambda s: f"\\textbf{{{s}}}", axis=1)

In [134]:
dfs.to_latex(
    buf=f"/Users/chaosarium/Documents/Repos/11711-HW3-Paper/tables/table8.tex", 
    hrules=True,
    multirow_align='c',
    sparse_index=True,
    clines=None,
    # clines="skip-last;data",
    column_format='l L{0.2\linewidth} L{0.2\linewidth} L{0.2\linewidth} L{0.18\linewidth} L{0.18\linewidth}'
)

---

In [122]:
data = {
    ('mBERTlarge', 'hi'): {
        (2, "mean"): 50.50200803,
        (2, "delta"): -0.05610216417,
        (4, "mean"): 50.50403226,
        (4, "delta"): 0.006042326589,
        (6, "mean"): 50.52631579,
        (6, "delta"): -0.05485708259,
        (8, "mean"): 50.56910569,
        (8, "delta"): -0.1015233719,
        (10, "mean"): 50.51020408,
        (10, "delta"): -0.09910637602
    },
    ('mBERTlarge', 'id'): {
        (2, "mean"): 55.0528169,
        (2, "delta"): -0.08543674327,
        (4, "mean"): 55.08833922,
        (4, "delta"): 0.05088339223,
        (6, "mean"): 55.07092199,
        (6, "delta"): -0.07034341172,
        (8, "mean"): 55.17793594,
        (8, "delta"): -0.07278204408,
        (10, "mean"): 55.16071429,
        (10, "delta"): -0.05277882206
    },
    ('mBERTlarge', 'jv'): {
        (2, "mean"): 53.69127517,
        (2, "delta"): -0.06642058166,
        (4, "mean"): 53.61486486,
        (4, "delta"): 0.04614864865,
        (6, "mean"): 53.53741497,
        (6, "delta"): -0.06295918367,
        (8, "mean"): 53.52739726,
        (8, "delta"): -0.06805936073,
        (10, "mean"): 53.4137931,
        (10, "delta"): -0.0541954023
    },
    ('mBERTlarge', 'kn'): {
        (2, "mean"): 51.35678392,
        (2, "delta"): -0.05821847132,
        (4, "mean"): 51.37815126,
        (4, "delta"): 0.02546765618,
        (6, "mean"): 51.43338954,
        (6, "delta"): -0.03992319971,
        (8, "mean"): 51.43824027,
        (8, "delta"): -0.04321359061,
        (10, "mean"): 51.42614601,
        (10, "delta"): -0.05001232955
    },
    ('mBERTlarge', 'su'): {
        (2, "mean"): 52.14765101,
        (2, "delta"): -0.1018568233,
        (4, "mean"): 52.12837838,
        (4, "delta"): 0.04704954955,
        (6, "mean"): 52.04081633,
        (6, "delta"): -0.0462585034,
        (8, "mean"): 51.98630137,
        (8, "delta"): -0.03680365297,
        (10, "mean"): 52.06896552,
        (10, "delta"): -0.05931034483
    },
    ('mBERTlarge', 'sw'): {
        (2, "mean"): 51.93784278,
        (2, "delta"): -0.1066452301,
        (4, "mean"): 51.94495413,
        (4, "delta"): 0.0280937633,
        (6, "mean"): 51.87845304,
        (6, "delta"): -0.09813994641,
        (8, "mean"): 51.84842884,
        (8, "delta"): -0.09480051601,
        (10, "mean"): 51.76252319,
        (10, "delta"): -0.1184075251
    },
}

In [127]:
df = pd.DataFrame.from_dict(data, orient='index')
dfs = df.style

dfs.format_index(lambda s: f"$k = {s}$", axis=1, level=0)
dfs.format_index(lambda s: s.replace("delta", "$\\Delta$").replace("mean", "Score"), axis=1, level=1)
dfs.format_index(lambda s: s.replace("mBERTlarge", 'mBERT$_{large}$'), axis=0, level=0)
dfs.format("{:.2f}")
dfs

In [132]:
dfs.to_latex(
    buf=f"/Users/chaosarium/Documents/Repos/11711-HW3-Paper/tables/table13.tex", 
    hrules=True,
    multirow_align='c',
    multicol_align='c',
    sparse_index=True,
    clines=None,
    # clines="skip-last;data",
)